/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/*Variables*/

:root{
    --color-1: #5b00e3;
    --color-2: #e30088;
    --color-3: #ffffff;
    --color-4: #000000;
    --color-5: #9b9c9e;
    --color-6: #32a832;      
    --color-7: #bd2a3b;
    --font-1-:'Courier Prime', monospace;
    --gradient-1: linear-gradient(to right, var(--color-1), var(--color-2));
}

/*Global Styles*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-1-);        
}

body{
    background-color: var(--color-2);
    min-height: 100vh;
}

/*Local styles*/

.container{
    overflow: hidden;
    position: absolute;
    left: 40%;
    top: 15%;
    height: 600px;
    width: 400px;
    border: solid black;
    border-radius: 10px;
    background-color: var(--color-3);
    /*box-shadow: 10px 10px 10px rgba(0,0,0,0.3);   */
    max-width: 100%;
}

.header{
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 30px;
    background-color: var(--color-5);
}
.header h2{
    margin: 0;
}

.form{

    padding: 15px 20px;    
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid black;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
.form-control i{
    position: absolute;
    top: 35px;
    right: 10px;    
    opacity: 0;
}
.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
}
.form button{
    background-color: #e30088;
    border: 2px solid var(--color-4);
    border-radius: 4px;
    display: block;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

/*Success and error classes*/

.form-control.success input{
    opacity: 1;
    border-color: var(--color-6);
    transition: all 0.7s ease;  
}
.form-control.error input{
    border-color: var(--color-7);
    transition: all 0.7s ease;    
}
.form-control.success i.fa-check-circle{
    opacity: 1;
    color: var(--color-6);
    transition: all 0.7s ease;
}
.form-control.error i.fa-exclamation-circle{
    opacity: 1;
    color: var(--color-7);
    transition: all 0.7s ease;
}
.form-control.error small{    
    color: var(--color-7);
    transition: all 0.7s ease;
    opacity: 1;
}
.form-control.success small{    
    color: var(--color-6);
    transition: all 0.7s ease;
    opacity: 1;
}
